.nav-link:hover {
  color: white;
  text-decoration: underline;
}

#home {
  position: relative;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/123Z_2101.w020.n001.947B.p15.947.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Atur opacity gambar di sini */
  z-index: 1;
}

#home .content {
  position: relative;
  z-index: 2;
}

#home .gambar {
  border-radius: 10px;
  margin-top: 50px;
}

.home {
  margin-top: -10px;
}
.nunito {
  font-family: "nunito";
}

.sacramento {
  font-family: "sacramento";
}

.work-sans {
  font-family: "work sans";
}

hr {
  width: 200px;
  margin: auto;
  border-top: 3px solid;
  padding-bottom: 50px;
}

#portfolio img {
  background-size: cover;
  width: 100%;
}

.nengah {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 70px;
}

.nengah-right {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

#portfolio {
  position: relative;
}

#portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/car-right.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1.5px);
  /* opacity: 0.7; Atur opacity gambar di sini */
  z-index: 1;
}

#portfolio .content {
  position: relative;
  z-index: 2;
}

.tombol-close-card {
  right: 8px;
  top: 8px;
}
.hrp {
  color: black;
}

footer a {
  padding-right: 20px;
  color: white;
}

.fdiv {
  display: inline-block;
  margin-left: 30px;
}

.af {
  text-decoration: none;
}
.af:hover {
  text-decoration: underline;
  color: gray;
}

footer {
  margin-top: 100px;
}

/* media query */

@media (max-width: 992px) {
  .text-portfolio {
    color: black;
  }
  .tek-sadow-sm {
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
  }
}

/* frame work buatan*/
@media (min-width: 992px) {
  .tek-sadow {
    text-shadow: 0 2px 2px rgb(0 0 0 /0.5);
  }
}
